<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ .Title }}</title>
<!--    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400"> -->
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="/style/syntax.css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/index.xml" rel="alternate" title="spootnik feed" type="application/rss+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
