{{ partial "header.html" . }}
<header>
  <h1>{{ .Site.Author.name }}</h1>
  <h2>{{ .Site.Params.Description }}</h2>
    <ul class="header-menu">
      <li><a href="https://github.com/pyr">Github</a></li>
      <li><a href="https://twitter.com/pyr">Twitter</a></li>
      <li><a href="mailto:{{ .Site.Author.email }}">Email</a></li>
    </ul>
</header>

<div class="content">
  <h2>Articles</h2>
  <ul class="all">
    {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pagesToShow.ByDate.Reverse }}
    {{ $link := .Permalink | relURL | replaceRE "^/" "" }}
    <li>{{ .Date.Format "2006-01-02" }}&nbsp;-&nbsp;<a href="{{ $link }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
{{ partial "footer.html" . }}
